<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @genre.type %>
</p>

<p>
  <strong>Era:</strong>
  <%= @genre.era %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
